{
  "presets": ["env", "flow"],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    ["module-resolver", {
        "alias": {
          "src": "./src",
          "config": "./src/config",
          "core": "./src/core",
          "models": "./src/models"
        }
    }]
  ]
}
